#storage: none
generate_load_scripts: true
framework: auto-detect
source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget FSharp.Data 
nuget FSharpx.Extras
nuget Deedle 
nuget MathNet.Numerics 
nuget MathNet.Numerics.MKL.Win-x64 
nuget MathNet.Numerics.FSharp
nuget Argu
nuget Serilog
nuget Serilog.Sinks.File
nuget XUnit
nuget FsCheck
nuget FsCheck.Xunit
nuget QLNet 1.11.4
nuget xunit.runner.visualstudio
nuget Microsoft.NET.Test.Sdk
