#storage: none
generate_load_scripts: true
framework: auto-detect
source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget FSharp.Data 
nuget FSharpx.Extras

nuget Deedle 
nuget MathNet.Numerics 
nuget MathNet.Numerics.FSharp

nuget XPlot.Plotly 
nuget XPlot.GoogleCharts 
nuget XPlot.GoogleCharts.Deedle 

nuget Argu
nuget FsCheck
nuget FsCheck.Xunit
nuget DiffSharp
nuget Nager.Date

nuget Microsoft.NET.Test.Sdk
nuget xunit
nuget Xunit.core
nuget xunit.runner.visualstudio
nuget QLNet