# These are the various packges that make up FsLab
generate_load_scripts: true
framework: auto-detect

# net461 is used for F# Interactive scripting
source https://api.nuget.org/v3/index.json

nuget FSharp.Core 

# The build.fsx script uses this
nuget FAKE 4.64.13

# Serve localhost images and other linked content from HTML printers in literate programming
# Also used by fsx2html tool
# TODO: upgrade to latest Suave
nuget Suave 2.1.1

# DataFrames
nuget Deedle 1.2.5

# FSharp.Data
nuget FSharp.Data 2.4.6

# MathNet.Numerics
nuget MathNet.Numerics 3.20.2
nuget MathNet.Numerics.FSharp 3.20.2

# XPlot
nuget XPlot.Plotly 1.5.0
nuget XPlot.GoogleCharts 1.5.0
nuget XPlot.GoogleCharts.Deedle 1.5.0

# FSharp.Charting - not referenced by FsLab.fsx by default but you can use it
# nuget FSharp.Charting

# RProvider - not referenced by FsLab.fsx by default but you can use this version
# nuget R.NET.Community
# nuget R.NET.Community.FSharp
# nuget RProvider 1.1.20
# nuget Deedle.RPlugin 1.2.5


nuget FsLab 1.1.6
nuget FSharp.Literate.Scripts 1.1.6
nuget Argu
nuget FsCheck
nuget FsCheck.Xunit
nuget DiffSharp
nuget ExcelProvider
nuget Nager.Date
nuget NetOffice.Core
nuget NetOffice.Excel
nuget Microsoft.NET.Test.Sdk
nuget xunit
nuget Xunit.core
nuget xunit.runner.visualstudio
